<li class="page-item">
  <%= link_to_unless current_page.last?, raw(t 'views.pagination.next'), "javascript:void(0);", data: { action: "click->pagination#get", url: url }, rel: 'next', remote: remote, class: 'page-link' %>
</li>
