<div class="container">
  <div class="card-noline w-100 wrap shadow bg-body rounded mt-3">
    <div class="card-body p-4">
      <h3 class="card-title">แก้ไข Stock <%= @branch_product.product.name %> (สาขา <%= @branch_product.branch.name %>)</h3>
      <hr>


    </div>
  </div>
</div>