<div  class="container"
      data-controller="branch-products"
      data-branch-products-products-branch-products-path-value="<%= products_branch_products_path %>">
  <h3 class="card-title">เช็ก Stock</h3>
  <hr>
  <div>
    <%= select_tag "", options_from_collection_for_select(@branches, "id", "name"), id: 'branch-select', data: { action: "change->branch-products#changeBranch", branch_products_target: 'branchSelect' } %>
  </div>

  <div class="row pt-3 p-3" id="products"></div>
</div>