
<nav class="navbar-classic navbar navbar-expand-lg">
  <a id="nav-toggle" href="javascript:void(0);" data-controller="nav">
    <ion-icon name="menu-outline" size="large" data-action="click->nav#showOrHideHeader" class="nav-icon me-2 ml-2"></ion-icon>
  </a>
  <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">
    <li class="dropdown ms-2">
      <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="avatarr avatar-md avatar-indicators avatar-online m-1">
          <img alt="avatar" src="/logo.png" class="rounded-circle" />
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-end"
        aria-labelledby="dropdownUser">
        <div class="px-4 pb-0 pt-2">
          <div class="lh-1 ">
            <h5 class="mb-1"><%= current_user.full_name %></h5>
          </div>
          <div class=" dropdown-divider mt-3 mb-2"></div>
        </div>

        <ul class="list-unstyled">
          <li>
            <%= link_to "", class: 'dropdown-item' do %>
              <ion-icon name="analytics-outline"></ion-icon> ประวัติการแก้ไขข้อมูล
            <% end %>
          </li>

          <li>
            <%= link_to destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete, turbo_confirm: "คุณแน่ใจนะ?"  } do %>
              <ion-icon name="log-out-outline"></ion-icon> ออกจากระบบ
            <% end %>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>