
<nav class="navbar-vertical navbar">
  <div class="nav-scroller">
    <a class="navbar-brand" href="<%= authenticated_root_path %>">
      <h3 class="text-white">RSB</h3>
    </a>
    <ul class="navbar-nav flex-column" id="sideNavbar">
      <li class="nav-item">
        <a class="nav-link has-arrow <%= "active" if controller_name == "dashboard" %>" href="<%= authenticated_root_path %>">
          <ion-icon name="apps-outline"></ion-icon>
          Dashboard
        </a>
      </li>
    </ul>
</nav>